github "Alamofire/Alamofire" ~> 4.0
github "SwiftyJSON/SwiftyJSON"
github "facebook/facebook-sdk-swift"
github "SimplicityMobile/Simplicity"
github "Orderella/PopupDialog" ~> 0.5
github "corin8823/Popover"
github "xhamr/fave-button"