<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScribbleIt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>070076A91D9E36C80017D22C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>070076BD1D9E36C80017D22C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>070076C81D9E36C80017D22C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
